<p>puntuacion works!</p>
<form>
  <label>idpuntiacion: </label>
  <input type="text" [(ngModel)]="idPuntuacion" name="idpuntuacion"><br>

  <label>atleta: </label>
  <input type="text" [(ngModel)]="idAtleta" name="idAtleta"><br>

  <label>puntajeJuez1: </label>
  <input type="number" [(ngModel)]="puntajeJuez1" name="puntajeJuez1"><br>

  <label>puntajeJuez2: </label>
  <input type="number" [(ngModel)]="puntajeJuez2" name="puntajeJuez2"><br>
  <label>puntajeJuez3: </label>
  <input type="number" [(ngModel)]="puntajeJuez3" name="puntajeJuez3"><br>
  <label>puntajeJuez4: </label>
  <input type="number" [(ngModel)]="puntajeJuez4" name="puntajeJuez4"><br>
  <label>puntajeJuez5: </label>
  <input type="number" [(ngModel)]="puntajeJuez5" name="puntajeJuez5"><br>

  <button (click)="registrarPuntuacion()">Enviar</button>
</form>

